# Scala
*.class

# Simple Build Tool
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Apache Spark files
/metastore_db
derby.log

# IDE
.idea
*.iml

# Cached RDDs
/data/movie-similarities
